<!DOCTYPE html>
<html>
<head>
	<title>Pruebas de Software</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<meta charset="utf-8">
</head>
<body>
	<!--<form >
		<input type="file" name="file"><br /><br />
		<input type="submit" value="Upload">
	</form>-->

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Programa 3</a>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<span>Para realizar el cálculo de la predicción se usarán datos aleatorios. A continuacion ingrese el la cantidad de números (N) que desea generar, su rango (min,max), y el valor (Xk) a predecir:</span>
		</div>
		<div class="row">
			<form class="col s12" action="calcular" method="post">
				<div class="row">
					<div class="input-field col s3">
	          			<input id="numeros" type="text" class="validate">
	          			<label for="numeros">N:</label>
	        		</div>
			        <div class="input-field col s3">
			          <input id="min" type="number" class="validate">
			          <label for="min">Min:</label>
			        </div>
			        <div class="input-field col s3">
			          <input id="max" type="number" class="validate">
			          <label for="max">Max:</label>
			        </div>
			        <div class="input-field col s3">
			          <input id="xk" type="number" class="validate">
			          <label for="xk">Xk:</label>
			        </div>
			        <div class="input-field col s3">
						<input class="waves-effect waves-light btn" type="submit" value="Generar">
			        </div>
				</div>			
			</form>
		</div>
	</div>

	<!--<div class="container">
		<div class="row">
			<div class="col-sm-3 sidenav">     
			</div>            
			<div class="col-sm-6">
				<form action="upload" method="post" enctype="multipart/form-data">
					<p>Por favor ingrese un archivo .txt con los números que desea evaluar separados por salto de linea</p>
					<input type="file" name="file" id="logo" class="btn btn-secondary btn-block">
					<input class="btn btn-primary btn-block" type="submit" value="Calculate">
				</form>				
			</div>
		</div>
	</div>
-->
	<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Pruebas de Software</h5>	
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Universidad de Antioquia
        </div>
      </div>
    </footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>